:root {
  /* COLORS*/

  /* Brand */
  --color-brand: #1db954; /* Verde Spotify */
  --color-brand-hover: #1ed760; /* Verde hover */

  /* Background */
  --color-bg-dark: #191414; /* Negro Spotify */
  --color-bg-secondary: #282828; /* Gris oscuro tarjetas */

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-muted: #6a6a6a;

  /* Border*/
  --color-border: #333333;

  /* FONTS */
  --font-base: "Montserrat", "DM Sans", Helvetica, Arial, sans-serif;

  --font-size-xs: 0.75rem; /*  12px */
  --font-size-sm: 0.875rem; /*  14px */
  --font-size-base: 1rem; /*  16px */
  --font-size-md: 1.125rem; /*  18px */
  --font-size-lg: 1.5rem; /*  24px */
  --font-size-xl: 2rem; /*  32px */
  --font-size-2xl: 3rem; /*  48px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* SPACING */
  --spacing-xs: 0.25rem; /*  4px */
  --spacing-sm: 0.5rem; /*  8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */
  --spacing-2xl: 6rem; /* 96px */

  /* RADIUS */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-full: 500px; /* Para botones en píldora */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-text-secondary); /*quitar ese fondo luego*/
  color: var(--color-bg-dark);
}

.container {
  background-color: var(--color-text-primary);
  display: grid;
  grid-template-columns: 1fr;
  max-width: 375px;
  margin: 0 auto;
  padding: var(--spacing-sm);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  width: 100%;
}
nav {
  display: none;
}
#spotify-logo {
  width: 29%;
  height: auto;
}
#hamburquer-icon {
  width: 9%;
  height: auto;
}

.banner {
  margin: 0;
  position: relative;
  background: url("./assets/landing.jpg") no-repeat center/cover;
  color: var(--color-text-primary);
  text-align: center;
  min-height: 20%;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}
.banner p {
  font-size: var(--font-size-sm);
}
section {
  margin: var(--spacing-sm);
}
h1 {
  font-size: var(--font-size-xl);
  padding: 0 var(--spacing-sm);
}
/* FEATURES SECTION*/
.features-container {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-xl);
  list-style: none;
}

.features-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  text-align: center;
}
.features-container li h3 {
  color: var(--color-brand);
  font-weight: var(--font-weight-bold);
}

.features-container li p {
  margin: var(--spacing-xs) var(--spacing-xl);
  font-weight: 100;
}

#features-header {
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin: var(--font-size-md);
  padding: var(--spacing-sm) 0;
  text-decoration: underline;
  text-decoration-color: var(--color-brand);
  text-decoration-thickness: 2px;
  text-underline-offset: var(--spacing-sm);
}

#speakers-icon,
#devices-icon,
#quality-icon {
  width: 25%;
  height: auto;
}

/*SECTION APP OVERVIEW*/
.app-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-brand);
  color: var(--color-text-primary);
  gap: var(--spacing-md);
}

#app-overview-header {
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  margin: var(--spacing-md) 0;

  text-decoration: underline;
  text-decoration-color: var(--color-text-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: var(--spacing-sm);
}
.app-content-list {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-md);
  gap: var(--spacing-lg);

  list-style: none;
}
.app-content-list li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-md);
  margin: 0 var(--spacing-md);
  padding: 0 var(--spacing-sm);
}
.app-content-list p {
  font-weight: 100;
}
#spotify-icon-white {
  width: 35%;
  height: auto;
}
#spotify-app {
  display: none;
}
#spotify-icon-mobile {
  width: 100%;
}
.app-overview-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

/*DESKTOP*/
@media (min-width: 1400px) {
  .container {
    width: 1200px;
    max-width: 90%;
  }
  header {
    padding: var(--spacing-sm) var(--spacing-md);
  }
  #spotify-logo {
    width: 10%;
    height: auto;
  }
  #hamburquer-icon {
    display: none;
  }
  h1 {
    font-size: var(--font-size-2xl);
  }
  .features-container li h3:hover {
    color: var(--color-brand-hover);
    cursor: pointer;
  }
  nav {
    display: block;
  }
  header nav ul {
    display: flex;
    gap: var(--spacing-sm);
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: var(--color-bg-dark);
    text-decoration: none;
  }

  /* FEATURES SECTION*/

  .features-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #features-header {
    font-size: var(--font-size-xl);
  }
  .app-overview {
    padding: 0 var(--spacing-xl);
    margin: var(--spacing-md);
  }
  .app-overview-desktop {
    display: flex;
    flex-direction: row;
  }
  .app-content-list {
    align-self: flex-start;
  }

  #app-overview-header {
    font-size: var(--font-size-xl);
    align-self: flex-start;
    margin: var(--spacing-md);
    padding: var(--spacing-lg) 0;
  }

  #spotify-icon-mobile {
    display: none;
  }
  #spotify-app {
    display: block;
  }
  .app-overview-desktop {
    justify-content: center;
    gap: var(--spacing-2xl);
    padding: 0 0 var(--spacing-xl) 0;
  }

  #spotify-icon-white {
    width: 10%;
  }
  #spotify-app {
    width: 35%;
  }
  .app-content-list li {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-lg);
  }
}
